.container {
    display: flex;
    align-items: flex-start;
    background-color: burlywood;
  }
  
  .card-image {
    width: 200px;
    height: 280px;
    object-fit: cover;
  }
  
  .card-details {
    margin-left: 20px;
  }
  
  .card-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-type {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .card-description {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .card-atk-def {
    font-size: 14px;
  }
  
  .card-atk {
    margin-right: 10px;
  }
  
  .card-def {
    margin-left: 10px;
  }
  