h1 {
    text-align: center;
    margin: 20px 0;
  }
  
  .card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card-link {
    text-decoration: none;
    margin: 10px;
  }
  
  .card {
    width: 200px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid black;
    text-align: center;
  }
  
  .card-image {
    width: 150px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .card-name {
    font-size: 14px;
    font-weight: bold;
  }
  
  .pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .pagination-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #f0f0f0;
    border: 1px solid black;
    cursor: pointer;
  }
  
  .pagination-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  